{% extends 'base.html.twig' %}

{% block body %}
    <h1>Footertheme</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ footertheme.id }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ footertheme.width }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ footertheme.height }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('footertheme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('footertheme_edit', { 'id': footertheme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
